# 사람인 Open API 키
SARAMIN_API_KEY=your_api_key_here

# RagFlow
RAGFLOW_API_KEY=your_api_key_here
RAGFLOW_BASE_URL=your_ragflow_base_url_here
RAGFLOW_DATASET_ID=your_dataset_id_here
RAGFLOW_RERANKER_ID=your_reranker_id_here